.artistlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #ffffff;
  padding: 12px 24px;
}

@media (min-width: 768px) {
  .artistlist {
    border-width: 0.5px 0.5px;
  }
}

.search-wrapper {
  border-radius: 12px;
}

.search-form {
  border: 1px solid #f6f6f6;
  border-radius: 12px;
  width: 342px;
  height: 40px;
  color: #a1a1a1;
}

.search-icon {
  font-size: 24px;
}

.artistimage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.form {
  width: 100%;
}

.d-flex {
  gap: 24px;
}

.img-container {
  display: grid;
  place-items: center;
}

.img-container img {
  margin-top: 74px;
  margin-bottom: 25px;
}

.checkcircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 0.5px solid #dadce0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkmark {
  color: #bfbfbf;
}

.artist-btn {
  background-color: #db27df;
  border: none;
  width: 94%;
  border-radius: 4px;
  margin-top: 10px;
  position: fixed;
  bottom: 60px;
}

.artist-btn:hover {
  background-color: var(--purple);
}

.no-result {
  margin-top: 74px;
}

.row {
  max-width: 1000px !important;
  margin-inline: auto;
}
