div.container {
  height: 100vh;
  background-color: #111;
}

.heading {
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}

.form-label {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.img-container {
  display: grid;
  place-items: center;
}

.img-container img {
  margin-top: 86px;
  margin-bottom: 35px;
}

.signup-btn {
  background-color: #db27df;
  border: none;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.signup-btn:hover {
  background-color: #7c4eda;
}

p {
  margin-top: 24px;
}
