.carousel {
  background-color: var(--backgroundColor);
  position: relative;
  min-height: 70vh;
}
.carousel::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, #111111 70%);
  z-index: 2;
  pointer-events: none;
}

.carousel-inner {
  height: 70vh;
}

.carousel img.d-block {
  inset: 0;
  position: absolute;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

.carousel-item {
  z-index: 10;
  position: relative;
  padding-top: 66vh;
}

.carousel-text {
  position: relative;
  text-align: center;
  top: -100px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.carousel-indicators {
  z-index: 15;
  bottom: -4vh;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--Orange);
  border-radius: 50%;
  width: 12.06px;
  height: 12px;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: var(--pink);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 90%;
  position: relative;
  margin-inline: auto;
  margin-top: 40px;
  z-index: 25;
}

.button-wrapper .sign-up {
  background-color: var(--pink);
  border: none;

  border-radius: 4px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.button-wrapper .sign-in {
  background-color: var(--Orange);
  border: none;
  width: 100%;
  border-radius: 4px;
}
