@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --backgroundColor: #111;
  --Orange: #fd7404;
  --pink: #db27df;
  --yellow: #eea835;
  --purple: #7c4eda;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  background-color: var(--backgroundColor);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  min-height: 100vh;
  height: 100%;
}
